<div class="container">
  <div>
    New Contact
    <input
      type="text"
      [(ngModel)]="newContact.name"
      class="input"
      placeholder="Name"
    />
  </div>
  <div>
    <input
      type="text"
      [(ngModel)]="newContact.email"
      class="input"
      placeholder="Email"
    />
  </div>
  <div>
    <input
      type="text"
      [(ngModel)]="newContact.phoneNumber"
      class="input"
      placeholder="Phone"
    />
  </div>
  <div>
    <input
      type="text"
      [(ngModel)]="newContact.image"
      class="input"
      placeholder="Image"
    />
  </div>
  <button (click)="addContact(newContact)" class="btn">
    Submit New Contact
  </button>
</div>

<ul class="contacts">
  <li *ngFor="let contact of contacts">
    <h3>{{ contact.name }}</h3>
    <p>{{ contact.email }}</p>
    <p>{{ contact.phoneNumber }}</p>
    <img
      src="{{ contact.image }}"
      alt="Imagen de {{ contact.name }}"
      class="center"
    />
  </li>
</ul>
