/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600,700,800&display=swap');
body {
    background-color: aliceblue;
    font-family: Nunito Sans;
}

h1 {
    text-align: center;
    background-color: orangered;
    color: white;
}